<div class="bg-oily text-semiwhiteBorder py-16">
  <div
    class="container px-4 mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 gap-10 md:gap-0"
  >
    <div class="part col-span-2 flex flex-col gap-10 text-center md:text-left">
      <div class="connections">
        <p>
          Copyright © 2023 Nexcent ltd.<br />
          All rights reserved
        </p>
      </div>
      <div class="icons">
        <div class="flex gap-6 justify-center md:justify-stretch">
          <i
            class="fa-brands fab fa-instagram p-2 rounded-full hover:bg-grayText bg-semigrayText"
          ></i>
          <i
            class="fa-brands fab fa-linkedin p-2 rounded-full hover:bg-grayText bg-semigrayText"
          ></i>
          <i
            class="fa-brands fab fa-twitter p-2 rounded-full hover:bg-grayText bg-semigrayText"
          ></i>
          <i
            class="fa-brands fab fa-youtube p-2 rounded-full hover:bg-grayText bg-semigrayText"
          ></i>
        </div>
      </div>
    </div>
    <div class="part flex flex-col gap-8 col-span-2 sm:col-span-1">
      <div class="header text-xl text-white font-semibold">Company</div>
      <div class="links">
        <ul class="flex flex-col gap-3 text-sm font-extralight">
          <li>About us</li>
          <li>Blog</li>
          <li>Contact Us</li>
          <li>Pricing</li>
          <li>Testimonials</li>
        </ul>
      </div>
    </div>
    <div class="part flex flex-col gap-8 col-span-2 sm:col-span-1">
      <div class="header text-xl text-white font-semibold">Support</div>
      <div class="links">
        <ul class="flex flex-col gap-3 text-sm font-extralight">
          <li>Help center</li>
          <li>Terms of service</li>
          <li>Legal</li>
          <li>Privacy Policy</li>
          <li>Status</li>
        </ul>
      </div>
    </div>
    <div class="part flex flex-col gap-8 col-span-2 md:col-span-1">
      <div class="header text-xl text-white font-semibold">Stay up to date</div>
      <div
        class="input flex items-center justify-content-between gap-1 md:gap-3 bg-semigrayText p-1 rounded-lg"
      >
        <input
          class="pl-3 w-4/5 sm:w-full focus:outline-none placeholder:text-semiwhiteBorder placeholder:text-xs sm:placeholder:text-sm font-extralight"
          type="email"
          placeholder="Enter your email"
        />
        <div class="icon p-2">
          <i class="fa-solid fa-paper-plane"></i>
        </div>
      </div>
    </div>
  </div>
</div>
