<nav class="flex items-center justify-between flex-wrap bg-[#2A2A2A] p-2 h-20">
  <div
    class="container mx-auto text-white md:px-3 lg:px-5 flex justify-between items-center"
  >
    <div class="logo w-1/5">
      <div class="upper text-base">General</div>
      <div class="lower text-xl font-bold text-secondary">Project</div>
    </div>
    <div class="links text-xs md:text-sm w-3/5 hidden sm:block">
      <ul class="flex justify-center items-center gap-2">
        <li>
          <a
            class="py-2 px-4 text-gray-300 hover:text-white"
            routerLink="/"
            routerLinkActive="text-white"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Home
          </a>
        </li>
        <li>
          <a
            class="py-2 px-4 text-gray-300 hover:text-white"
            routerLink="/services"
            routerLinkActive="text-white"
          >
            Services
          </a>
        </li>
        <li>
          <a
            class="py-2 px-4 text-gray-300 hover:text-white text-nowrap"
            routerLink="/find"
            routerLinkActive="text-white"
          >
            Find a Team
          </a>
        </li>

        <li>
          <a
            class="py-2 px-4 text-gray-300 hover:text-white text-nowrap"
            routerLink="about"
            >About Us</a
          >
        </li>
      </ul>
    </div>
    <div class="btns gap-4 w-1/5 justify-end hidden sm:flex">
      <button
        *ngIf="!isAuthenticated()"
        routerLink="/auth/login"
        class="login btn-style bg-white text-secondary hover:bg-secondary hover:text-white"
      >
        Login
      </button>
      <button
        *ngIf="!isAuthenticated()"
        class="register btn-style bg-secondary text-white"
      >
        Register
      </button>
      <div class="text-sm" *ngIf="user$ | async as user">
        <div class="font-bold">Hello,</div>
        {{ user.username }}
      </div>
      <button
        *ngIf="isAuthenticated()"
        (click)="logout()"
        class="logout btn-style"
      >
        Logout
      </button>
    </div>

    <!-- Hamburger Button -->
    <div class="btns gap-4 justify-center sm:hidden">
      <span
        class="login btn-style bg-white text-secondary hover:bg-secondary hover:text-white"
        (click)="toggleNavbar()"
      >
        <i class="fa-solid fa-bars"></i>
      </span>
    </div>

    <!-- Mobile Nav Panel -->
    <div
      class="fixed top-0 right-0 h-full w-1/2 bg-white shadow-lg z-50 transform transition-transform duration-300 sm:hidden"
      [class.translate-x-full]="!isNavbarOpen"
      [class.translate-x-0]="isNavbarOpen"
    >
      <div class="p-6 flex flex-col gap-4">
        <button
          class="text-right text-gray-600 text-2xl"
          (click)="toggleNavbar()"
        >
          &times;
        </button>
        <a routerLink="/home" class="text-gray-800 hover:text-blue-600">Home</a>
        <a routerLink="/about" class="text-gray-800 hover:text-blue-600"
          >About</a
        >
        <a routerLink="/contact" class="text-gray-800 hover:text-blue-600"
          >Contact</a
        >
        <div class="btns flex gap-2 flex-wrap">
          <button
            *ngIf="!isAuthenticated()"
            routerLink="/auth/login"
            class="flex-1 login btn-style bg-white text-secondary hover:bg-secondary hover:text-white"
          >
            Login
          </button>
          <button
            *ngIf="!isAuthenticated()"
            class="flex-1 register btn-style bg-secondary text-white"
          >
            Register
          </button>
          <div class="text-black text-sm" *ngIf="user$ | async as user">
            Hello, {{ user.username }}
          </div>
          <button
            *ngIf="isAuthenticated()"
            (click)="logout()"
            class="logout btn-style text-black"
          >
            Logout
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
