<div class="page my-16">
  <div class="container px-4 mx-auto">
    <app-section-header titlePartOne="What Makes Us" titlePartTwo="Different?">
      On the other hand, we denounce with righteous indignation and dislike men
      who are so beguiled and demoralized by the charms
    </app-section-header>
    <div class="cards grid md:grid-cols-3 gap-4 mt-8">
      <app-card
        iconClass="fa-regular fa-heart"
        title="Fully Responsive"
        description="On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms"
      />
      <app-card
        iconClass="fa-solid fa-briefcase"
        title="Fully Responsive"
        description="On the other hand, we denounce with righteous indignation "
      />
      <app-card
        iconClass="fa-solid fa-chart-line"
        title="Fully Responsive"
        description="On the other hand, we denounce with righteous indignation "
      />
    </div>
  </div>
</div>
