<div class="page my-16">
  <div class="container px-4 mx-auto">
    <app-section-header titlePartOne="Our Excellent" titlePartTwo="Services">
      On the other hand, we denounce with righteous indignation and dislike men
      who are so beguiled and demoralized by the charms
    </app-section-header>
    <div
      class="cards grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mt-8"
    >
      <app-img-card imageSrc="assets/images/img1.jpg" title="Lorem Ipsum">
        On the other hand, we denounce with righteous indignation and dislike
        men who are so beguiled and demoralized by the charms
      </app-img-card>

      <app-img-card imageSrc="assets/images/img2.jpg" title="Lorem Ipsum">
        On the other hand, we denounce with righteous indignation and dislike
        men who are so beguiled and demoralized by the charms
      </app-img-card>

      <app-img-card imageSrc="assets/images/img3.jpg" title="Lorem Ipsum">
        On the other hand, we denounce with righteous indignation and dislike
        men who are so beguiled and demoralized by the charms
      </app-img-card>
    </div>
  </div>
</div>
