<div class="panel bg-lightBlueTwo my-20 py-16">
  <div class="container px-4 mx-auto flex flex-col items-center gap-3">
    <h2 class="uppercase text-center text-xl text-gradientTwo mb-2">
      Subscribe
    </h2>
    <h3 class="uppercase text-center font-semibold text-lg sm:text-xl">
      Subscribe to get the latest news about us
    </h3>
    <p class="text-center text-small sm:text-base text-grayText">
      Please drop your email below to get daily update about what we do
    </p>
    <div
      class="input flex justify-between items-center gap-1 md:gap-3 p-1 border-2 rounded-xl w-full md:w-3/5 lg:w-2/5"
    >
      <input
        class="w-4/5 pl-3 focus:outline-none placeholder:text-sm placeholder:text-grayText"
        type="email"
        placeholder="Enter your email"
      />
      <button
        class="btn-style bg-gradientTwo text-white outline-none p-2 hidden md:block"
      >
        Subscribe
      </button>
      <div
        class="md:hidden flex bg-gradientTwo text-white outline-none w-12 aspect-square rounded-full justify-center items-center"
      >
        <i class="fa-solid fa-paper-plane"></i>
      </div>
    </div>
  </div>
</div>
